/initial_data
.idea/
__pycache__/
desktop.ini
/mysite/recommender/brudnopis.py
/mysite/recommender/templates/recommender/add_rating.html
/mysite/recommender/fixtures/movies_test.json
/mysite/recommender/fixtures/actors_old.json
*.bat
/mysite/static/images
/mysite/static/private
