{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  />

  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <link
          href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap"
          rel="stylesheet"
  >
  <link
           href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"
  >
  <link
          href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap"
          rel="stylesheet"
  >
  {#TODO: bring back all files into single one before deployment, they are split only for#}
  {#redeability purpose#}
  {#  <link rel="stylesheet" type="text/css" href="{% static 'recommender/style.css' %}">#}

  <link rel="stylesheet" type="text/css" href="{% static 'recommender/globals.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'recommender/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'recommender/buttons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'recommender/flexbox.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'recommender/table.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'recommender/pagination.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'recommender/medium_screen.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'recommender/small_screen.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'recommender/burger.css' %}">


  <title>
    {% block title %}{% endblock %}
  </title>
</head>

<body>
<nav>
  <a href="{% url 'homepage' %}" class="logo">
    {#    Siabadaba#}
    MR
{#    <img class="logo" src="{% static 'recommender/img/circles.svg' %}" alt=""/>#}
  </a>
  <ul class="nav-links">
    <li><a href="{% url 'all_movies' %}">Movie Database</a></li>
    <li>
      <form action="">
        <input
                type="text"
                name=""
                id=""
                placeholder="Search for a movie X"
        />
        <button class="btn btn-search btn-normal" type="submit">
          {# TODO: add functionality to this button #}
          Search
        </button>
      </form>
    </li>
    {% if user.is_authenticated %}
      <li><a href="{% url 'recommend' user.username %}">Your recommendations</a></li>
    {% endif %}
    <li><a href="{% url 'all_users' %}">Users</a></li>
    {% if user.is_authenticated %}
      <li class="user-actions">

        <a onclick="showHideDropdown()" href="#/" class="dropbtn">
          {#          <i class="material-icons">how_to_reg</i>#}
          Logged in
          as {{ user.username |truncatechars:9 }} <i
                id="arrow" class="fa fa-angle-down"></i>
          {#                  <i class="material-icons">how_to_reg</i>#}
        </a>
        <ul id="myDropdown" class="dropdown-content">
          <li><a href="{% url 'profile' user.username %}">Profile</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        </ul>
      </li>
    {% endif %}

  </ul>

  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>


<div class="container">
  {% if messages %}
    {% for message in messages %}
      {#      TODO: add custom alerts #}
      <div class="alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% block content %}{% endblock %}
</div>

<script src="{% static 'recommender/main.js' %}"></script>

</body>
</html>