{% extends 'recommender/base.html' %}
{%load static%}
{% block title %}
   Homepage
{% endblock title %}

{% block content %}

<h1>Welcome!</h1>
<h4>Click on 'Movie Database' to view the list of movies</h4>
<h4>Register to enjoy full capabilities of the site, including:</h4>
<ul>
    <li>Rating the movies</li>
    <li>Viewing other people's ratings</li>
    <li>Viewing your user stats</li>
    <li>Receiving recommendations</li>
</ul>

<!--<div class="media-body">-->
<!--   <img src="{% static 'images/ja.jpg' %}" class="img-fluid">-->
<!--</div>-->

{% endblock content %}