{% extends 'recommender/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Log In
{% endblock title %}

{% block content %}
  <div class="login-container">
    <section class="login">
      <form method="POST">
        {% csrf_token %}
        <legend><h3>Welcome</h3></legend>
        {{ form|crispy }}
        <button class="btn" type="submit">Log In</button>
        <div class="add-ons">
          <small>
            <a href="{% url 'password_reset' %}">Forgot password?</a>
          </small>
          <small>
            Need an Account? <a href="{% url 'register' %}">Sign Up Now</a>
          </small>
        </div>
      </form>
    </section>
  </div>
{% endblock content %}
