{% extends 'recommender/base.html' %}

{% load static %}

{% load widget_tweaks %}
{% load django_tables2 %}

{% block content %}
  <section class="decades-form">
    <div class="decades-form-container">
      <div class="text">
        <h1>Filter by decades:</h1>
      </div>
      <div class="decades-container">
        {% if filter %}
          {#TODO: button is messing everything up#}
          <form action="" method="get">
            <div class="decades">
              {% for input in filter.form.year_released %}
                {{ input }}
              {% endfor %}
            </div>
            <div class="controls">
              <button type="submit" class="btn btn-info">Filter</button>
              <a href="{% url 'all_movies' %}" class="btn btn-danger">Clear</a>
            </div>
          </form>
        {% endif %}

      </div>

    </div>
  </section>

  <section class="movie-table">

    {% render_table table %}
  </section>
  </div>
  </div>
{% endblock content %}
