{% extends 'recommender/base.html' %}

{% load static %}

{% load widget_tweaks %}
{% load django_tables2 %}

{% block content %}

  <section class="search-by-title">
    {#    <div class="search-bar">#}
    <form action="" method="get">
      {% render_field filter.form.title__icontains placeholder="Search for a movie X" class="form-control" %}
      <button class="btn btn-normal btn-search" type="submit">
        Search
      </button>
      <a href="{% url 'all_movies' %}" class="btn btn-danger btn-search">Clear</a>

    </form>
    {#    </div>#}
  </section>

  <section class="filter-form movies-form">
    <div class="form-container movies-form-container">
      <div class="text">
        <h1>Filter by decades:</h1>
      </div>
      <div class="decades-container">
        {% if filter %}
          <form action="" method="get">
            <div class="filter-by decades-movies">
              {% for input in filter.form.year_released %}
                {{ input }}
              {% endfor %}
            </div>
            <div class="controls controls-movies">
              <button type="submit" class="btn btn-info">Filter</button>
              <a href="{% url 'all_movies' %}" class="btn btn-danger">Clear</a>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="movie-table">
    {% render_table table %}
  </section>

{% endblock content %}
