{% extends 'recommender/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
   Movies list
{% endblock title %}

{% block content %}
<div class="container.fluid">

   <h1>All movies in the database:</h1>


    <div class="row">
        <div class="col">
            <form method="get" action="">
                {{form_sorting_grouping|crispy}}
              <button class="btn btn-info" type="submit">Sort</button>
            </form>
        </div>

    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">MovieLens ID</th>
          <th scope="col">tMdB ID</th>
          <th scope="col">IMdB ID</th>
          <th scope="col">Title</th>
          <th scope="col">Year</th>
          <th scope="col">Director</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in movies %}
        <tr>
            <th scope="row">{{movie.id}}</th>
            <td>{{movie.movielens_id}}</td>
            <td>{{movie.tmdb_id}}</td>
            <td>{{movie.imdb_id}}</td>
            <td><a href="{% url 'movie_detail' movie.id %}">{{movie.title}}</a></td>
            <td>{{movie.year_released}}</td>
            <td>{{movie.director}}</td>
        </tr>
<!--        <h3>{{movie.title}} - {{movie.director}}</h3>-->
        {% endfor %}
      </tbody>
    </table>
    {% include 'recommender/pagination.html' %}
</div>
{% endblock content %}