{% extends 'recommender/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  {{ movie.title }} ({{ movie.year_released }})
{% endblock title %}

{% block content %}

  <div class="movie-container">
    <div class="title">
      <div>{{ movie.title }}</div>
    </div>
    <div class="poster">
      <div>
        <img src="{{ img_url }}" alt="Movie poster">
      </div>
    </div>
    <div class="movie-info">
      <div>
        <table class="movie-detail">
          <tbody>
          <tr>
            <td class="col-name">Director</td>
            <td>{{ movie.director }}</td>
          </tr>
          <tr>
            <td class="col-name">Genres</td>
            <td>
              {{ genres_tmdb|join:', ' }}, Jeszcze, Kilka, Innych, Gatunków, Bo, Testuję
            </td>
          </tr>
          <tr>
            <td class="col-name">Released</td>
            <td>{{ movie.year_released }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="rating">
      <div>
        {% if user.is_authenticated %}
          {% if rating_exists %}
            <h3>Your rating:</h3>
            {#            TODO: change back #}
            {#            {% with ''|center:rating.value as range %}#}
            {% with ''|center:10 as range %}
              {% for _ in range %}
                <i class="fa fa-star star-glow"></i>
              {% endfor %}
            {% endwith %}
          {% endif %}
          {% if not rating_exists %}
            <h3>Rate this movie</h3>
          {% endif %}
          <form method="POST">{% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-shiny" type="submit">Rate</button>
          </form>
          {% if rating_exists %}
            <a class="btn btn-danger" href="{% url 'delete_rating' movie.id %}">Delete</a>
          {% endif %}
        {% else %}
          <h3>Log in to rate</h3>
        {% endif %}
      </div>
    </div>
    <div class="overview">
      <div>
        <h4>Overview</h4>
        {{ overview }}
      </div>
    </div>
    <div class="cast">
      <div>
        <h4>Cast</h4>
        <table class="cast-detail">
          <tbody>
          {% for actor in cast_tmdb %}
            <tr>
              <td>{{ actor.name }}</td>
              <td>{{ actor.character }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="raw-data">
    <h3>= My DataBase INFO =</h3>
    <p>Id: {{ movie.id }}</p>
    <p>MovieLens Id: {{ movie.movielens_id }}</p>
    <p>IMdB Id:{{ movie.imdb_id }}</p>
    <p>tMdB Id: {{ movie.tmdb_id }}</p>
    <p>Year: {{ movie.year_released }}</p>
    <p>Director: {{ movie.director }}</p>
    <p>Genres:
      {% for genre in genres %}
        {% if not forloop.last %}
          {{ genre.name }},
        {% else %}
          {{ genre.name }}
        {% endif %}
      {% endfor %}
    </p>
    <p>Actors:
      {% for actor in actors reversed %}
        {% if not forloop.last %}
          {{ actor.name }},
        {% else %}
          {{ actor.name }}
        {% endif %}
      {% endfor %}
    </p>
    <h3>= The Movie DataBase INFO =</h3>
    <p>Genres: {{ genres_tmdb|join:', ' }}</p>
    <p>Overview: {{ overview }}</p>
    <p>Cast:
      {% for actor in cast_tmdb %}
        {{ actor.name }} as {{ actor.character }},
      {% endfor %}</p>
  </div>
{% endblock content %}
