{% extends 'recommender/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
   Rate Movies
{% endblock title %}

{% block content %}
<!--przy losowaniu, każde 'movies' jest inne - moga byc problemy -->
<!--{{movies}}-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
       {{ movies.0.title}}
                  <button class="btn btn-primary">Rate</button>
            <button class="btn btn-warning">Did not see</button>
    </div>
       {% for movie in movies %}
          <div class="carousel-item">
                  {{movie.title}}
            <button class="btn btn-primary">Rate</button>
            <button class="btn btn-warning">Did not see</button>
          </div>
       {% endfor%}

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

      <p>{{movie.title}}</p>
{% endblock content %}


