{% extends 'recommender/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Rate Movies
{% endblock title %}

{% block content %}
  <div class="preferences-container">
          <button type="submit" class="btn btn-shiny">Rate Later</button>


    {% if no_of_rated_movies < 60 %}
      <form method="post">{% csrf_token %}
        {% for movie in movies %}
          <p>{{ movie.title }}
            <input type="number" id="quantity" name="rating" min="1" max="10">
            <input type="checkbox" id="movie1" name="did-not-see"><label for="movie1">Did not see</label>
          </p>
        {% endfor %}
        <button type="submit" class="btn btn-shiny">Rate</button>
      </form>
    {% else %}
      You have rated enough movies
    {% endif %}

  </div>
{% endblock content %}


