{% extends 'recommender/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Rate Movies
{% endblock title %}

{% block content %}
  <div class="preferences-container">
    <div class="rate-new-movies">
      <div id="movie-poster">
        <img src="{{ img_url }}" alt="Movie poster">
      </div>
      <div id="movie-title" class="title">
        {% with movies|first as first_movie %}
          {{ first_movie.title }}
        {% endwith %}
      </div>
      <div id="overview">
        {{ overview }}
      </div>
      <h5 id="info-text">Rate this movie</h5>
      <form method="post" id="establish">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-shiny btn-big">Rate</button>
      </form>
      <button class="btn btn-danger btn-big" onclick="showNextMovie()" id="not-seen">Haven't seen</button>
      <div id="rate-more"></div>
    </div>
  </div>
{% endblock content %}


