{% extends 'recommender/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
   Your ratings
{% endblock title %}

{% block content %}
    <h1>Oceny uzytkownika {{profile_owner.username}}:</h1>
    <div class="row">
        <div class="col">
            <form method="get">
            {{form_sorting_grouping.sort_by|as_crispy_field}}
        </div>
        <div class="col">
            {{form_sorting_grouping.group_by_decades|as_crispy_field }}
        </div>
        <div class="col">
            {{form_sorting_grouping.group_by_ratings|as_crispy_field }}
        </div>
        <div class="col">
            {{form_sorting_grouping.date_from|as_crispy_field }}
        </div>
        <div class="col">
            {{form_sorting_grouping.date_to|as_crispy_field }}
        </div>
              <button class="btn btn-info" type="submit">Sort</button>
                <a class="btn btn-info" href="{%url 'profile' profile_owner.username%}">Clear</a>
            </form>
                <a class="btn btn-info" href="{%url 'user_stats' profile_owner.username%}">Stats</a>
        </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">MovieLens ID</th>
          <th scope="col">Title</th>
          <th scope="col">Year</th>
          <th scope="col">Director</th>
          <th scope="col">Rating</th>
          <th scope="col">Date rated</th>
        </tr>
      </thead>
      <tbody>
        {% for rating in ratings %}
        <tr class="table-row">
            <th scope="row">{{rating.movie.movielens_id}}</th>
            <td><a href="{% url 'movie_detail' rating.movie.id %}">{{rating.movie.title}}</a></td>
            <td>{{rating.movie.year_released}}</td>
            <td>{{rating.movie.director}}</td>
            <td class="font-weight-bold">{{rating.value}}</td>
            <td> {{rating.date_rated | date:"d-m-Y H:i:s" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'recommender/pagination.html' %}
{% endblock content %}
