{% extends 'recommender/base.html' %}

{%load static%}

{% load django_tables2 %}
{% load bootstrap4 %}

{% block content %}
<div class="row">
{% if filter %}
    <div class="col-3">
    <form action="" method="get" class="form form-inline">
<!--        {{filter.form}}-->
        {% bootstrap_form filter.form layout='inline' %}
        <button type="submit" class="btn btn-outline-primary btn-block">Filter</button>
        <a class="btn btn-outline-primary btn-block" href="{%url 'profile' profile_owner.username%}">Clear</a>
        <a class="btn btn-primary btn-block" href="{%url 'user_stats' profile_owner.username%}">Stats</a>
    </form>
    </div>
{% endif %}
<div class="col-9">
    {% render_table table %}
</div>
</div>
{% endblock content %}
