{% extends 'recommender/base.html' %}

{% load static %}

{% load widget_tweaks %}
{% load django_tables2 %}

{% block title %}
  {{profile_owner.username|truncatechars:15 }}'s profile
{% endblock title %}

{% block content %}
  <section class="user-info">
    Username:&nbsp<b>{{ profile_owner.username }}</b>.&nbsp; You can view the stats &nbsp;
    <a href="{% url 'user_stats' profile_owner.username %}">here</a>
  </section>
  <section class="filter-form ratings-form">
    <div class="form-container ratings-form-container">
      {% if filter %}
        <form action="" method="get">
          <div class="filter-decades">
            <h1>Filter by decades:</h1>
            <div class="filter-by decades-ratings">
              {% for input in filter.form.movie__year_released %}
                {{ input }}
              {% endfor %}</div>
          </div>
          <div class="filter-ratings">
            <h1>Filter by ratings:</h1>
            <div class="filter-by ratings-ratings">
              {% for input in filter.form.value %}
                {{ input }}
              {% endfor %}
            </div>
          </div>
          <div class="filter-date">
            <h1>Filter by date:</h1>
            <div class="filter-by date-ratings">
              {{ filter.form.date_from }}
              {{ filter.form.date_to }}
            </div>
          </div>
          <div class="controls controls-ratings">
            <button type="submit" class="btn btn-info">Filter</button>
            <a class="btn btn-danger" href="{% url 'profile' profile_owner.username %}">Clear</a>
          </div>
        </form>
      {% endif %}
    </div>
  </section>
  <section class="movie-table rating-table">
    {% render_table table %}
  </section>
{% endblock content %}
