{% extends 'recommender/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Register
{% endblock title %}

{% block content %}
  <div class="register-container">
    <section class="register">
      <form method="POST">
        {% csrf_token %}
        <legend><h3>Join Today</h3></legend>
        {{ form|crispy }}
        <button class="btn" type="submit">Sign Up</button>
        <div class="add-ons">
          <small>
            Already Have an Account? <a href="{% url 'login' %}">Sign In</a>
          </small>
        </div>
      </form>
    </section>


  </div>
{% endblock content %}
