{% extends 'recommender/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
   Users list
{% endblock title %}

{% block content %}

    <div class="col-10">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Username</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr class="table-row">
            <td><a href="{% url 'profile' user.username %}" class="link-glow">{{user.username}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    {% include 'recommender/pagination.html' %}
{% endblock content %}
