{% extends 'recommender/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
  Users list
{% endblock title %}

{% block content %}
  <div class="users-container">
    <div class="search-users">
      <form action="" method="get">
        {% render_field filter.form.username__icontains placeholder="Search by a username" class="form-control" %}
        <div class="search-buttons">
        <button type="submit" class="btn btn-info btn-user-search">Search</button>
        <a href="{% url 'all_users' %}" class="btn btn-danger btn-user-search">Clear</a>
          </div>
      </form>
    </div>

    <div class="users">
      {% for user in users %}
        <a href="{% url 'profile' user.username %}" class="btn btn-user">{{ user.username |truncatechars:13}}</a>
      {% endfor %}
    </div>
    <div class="mockup-pagination">
      {#      TODO: handle pagination so that it works correctly when searching by username #}
            {% include 'recommender/pagination.html' %}
    </div>
  </div>
{% endblock content %}
