.btn {
  background: none;
  border-radius: 5px 0px 5px 0px;
  cursor: pointer;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 13px;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.btn-search {
  padding: 0 0.5rem 0 0.5rem;
}

.btn-normal {
  border: 0.1rem solid #0072dc;
  color: #0072dc;
}

.btn-normal:hover {
  color: #ffe46f;
  border: 0.1rem solid #ffe46f;
}

.btn-normal:focus {
  box-shadow: 0 0 0 0.2rem gold;
}

.btn-danger {
  border: 0.2rem solid #b90000;
  color: #b90000;
}

.btn-info {
  border: 0.2rem solid #fffde9;
  color: #fffde9;
}

.btn-user{
    border-radius: 8px 0px 8px 0px;
  border: 0.2rem solid #fffde9;
  color: #0072dc;
  padding: 1.2rem 0.1rem;
}

.btn-user:hover {
  color: gold;
  /*box-shadow: 0 0 0 0.2rem gold*/
  box-shadow: 0px 0px 50px #82b2ff3b, 0px 0px 25px #5294ff80,
  0px 0px 15px #52daffa2, 0px 0px 5px #ffffff;
  background: #010f24;
}