.btn {
  padding: 0 0.5rem 0 0.5rem;
  background: none;
  border-radius: 5px 0px 5px 0px;
  cursor: pointer;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 13px;
}

.btn-big{
  font-size: 2rem;
}

.btn-normal, .btn-shiny {
  padding: 0 0.5rem 0 0.5rem;
  border: 0.1rem solid #0072dc;
  color: #0072dc;
}

.btn-normal:hover {
  color: #ffe46f;
  border: 0.1rem solid #ffe46f;
}

.btn-shiny:hover {
  box-shadow: 0 0 50px #82b2ff3b, 0 0 25px #5294ff80,
  0 0 15px #52daffa2, 0 0 5px #ffffff;
}

.btn-normal:focus {
  box-shadow: 0 0 0 0.2rem gold;
}

.btn-danger {
  border: 0.2rem solid #b90000;
  color: #b90000;
}

.btn-danger:hover {
  box-shadow: 0 0 15px #a20000, 0 0 12px #920303,
  0 0 5px #ffffff;
  color: red;
}

.btn-info {
  padding: 0 0.5rem 0 0.5rem;
  border: 0.2rem solid #fffde9;
  color: #fffde9;
}

.btn-info:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25),
  0px 0px 12px rgba(255, 255, 106, 0.57), 0px 0px 5px #ffffff;
  color: white;
}

.btn-search {
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  font-size: 1.7rem;
  font-weight: 900;
  /*height: 90%;*/
}

.btn-user {
  border-radius: 8px 0 8px 0;
  border: 0.2rem solid #fffde9;
  color: #0072dc;
  padding: 1.2rem 0.1rem;
}

.btn-user:hover {
  color: gold;
  box-shadow: 0 0 50px #82b2ff3b, 0 0 25px #5294ff80,
  0 0 15px #52daffa2, 0 0 5px #ffffff;
  background: #010f24;
}

.btn-user-search {
  font-size: 1.5rem;
  padding: 0.3rem 0.7rem;
}

a.btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-btn-group button, .search-btn-group a {
  flex: 1 1 0;
  height: 3rem;
  margin: 1rem 1rem 0 1rem;
}


