.container {
  height: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vh;
  display: flex;
  flex-wrap: wrap;
}

.user-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 10rem;
  font-size: 1.4rem;
}

.filter-form {
  display: flex;
  justify-content: start;
}

.movies-form {
  width: 20rem;
}

.ratings-form {
  width: 20rem;
}

.form-container {
  width: 95%;
  border-radius: 5px 0px 5px 0px;
  border: 2px solid #0072dc;
  flex: 0 1 auto;
  display: flex;
  align-items: space-evenly;
  flex-direction: column;
  justify-content: space-around;
}

.movies-form-container {
  height: 320px;
  padding: 1rem;
}

.ratings-form-container {
  height: 520px;
  padding: 0.7rem;

}


.form-container .text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.form-container .text h1 {
  font-weight: 200;
  font-size: 1.6rem;
  text-align: center;
}


.decades-container {
  flex: 4;
  display: flex;
  justify-content: center;
}

/*.decades-container label::before {*/
.form-container label::before {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  font-size: 1.1rem;
}

/*.decades-container label {*/
.form-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

/*.decades-container input[type="checkbox"] {*/
.form-container input[type="checkbox"] {
  opacity: 0;
}

/*.decades-container form {*/
.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /*justify-content: space-evenly;*/
  justify-content: center;
}

/*.decades-container label {*/
.form-container label {
  background: none;
  border-radius: 5px 0px 5px 0px;
  cursor: pointer;
  border: 0.1rem solid #0072dc;
  color: #0072dc;
}

/*.decades-container label:hover {*/
.form-container label:hover {
  /* color: #fffde9; */
  color: #e9dd9a;
  border: 0.05rem solid #e9dd9a;
}

/*.decades-container label:focus {*/
.form-container label:focus {
  box-shadow: 0 0 0 0.2rem gold;
}

/*.decades-container input[type="checkbox"] {*/
.form-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.decades-movies {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  flex: 4;
}

.tick::before {
  content: "\f00c \00a0";
}

.plus::before {
  content: "\f067 \00a0";
}

.controls {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.filter-decades {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.filter-ratings {
  flex: 2;
  display: flex;
  flex-direction: column;
}


.filter-date {
  display: flex;
  flex-direction: column;
  flex: 3;
}

form h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/*form .filter-by {*/
/*  flex: 3;*/
/*}*/

.filter-by {
  display: grid;
  column-gap: 0.4rem;
  row-gap: 0.4rem;
  width: 100%;
}


.decades-ratings {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  flex: 3;
}

.ratings-ratings {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex: 2;
}

.date-ratings {
  flex: 2;
}


.controls-ratings {
  flex: 1;
}

.controls-movies {
  flex: 1;
}

.controls a, .controls .btn {
  /*change on breakpoint*/
  height: 60%;
}

.controls a {
  appearance: button; /* CSS3 */
  -webkit-appearance: button; /* Safari and Chrome */
  -moz-appearance: button; /* Firefox */

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
}

.users-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.users {
  width: 90%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 3rem 4rem;
}

.users a {
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
}

.mockup-pagination {
  margin-top: 5rem;
  flex: 0;
}

.form-control {
  height: 3.3rem;
  border-radius: 5px 0px 5px 0px;
  padding: 1rem;
  font-size: 1.45rem;
}

.search-users {
  margin-bottom: 3rem;
  display: flex;
}

.search-users a {
  text-decoration: none;
  text-align: center;
}

.search-buttons {
  width: 80%;
  display: grid;
  justify-content: center;
  margin: auto;
  margin-top: 1.2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2rem 2rem;
}

.search-by-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  border-radius: 5px 0px 5px 0px;
  border: 2px solid #0072dc;
  padding: 2rem 0;
}

.alert {
  width: 100%;
  font-size: 1.8rem;
  border-radius: 7px 0px 7px 0px;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  background: rgba(255, 0, 0, 0.2);
  text-align: center;
  line-height: 3.6rem
}

.alert a {
  text-decoration: none;
  color: #0072dc;
}

.alert a:hover {
  text-decoration: underline;
}

.alert-red {
  border: 2px solid red;
}

.login-container, .register-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.login, .register {
  font-size: 1.8rem;
}

.login form, .register form {
  border-radius: 7px 0px 7px 0px;
  border: 1px solid #0072dc;
  padding: 1.5rem;
  background: #020424;
  box-shadow: 0px 0px 40px #82b2ff7b, 0px 0px 25px #5294ff80,
  0px 0px 15px #52daffa2, 0px 0px 5px #ffffff;
  margin-bottom: 3rem;
}

.login form legend, .register form legend {
  text-align: center;
  margin-bottom: 1rem;
}

.login form input {
  width: 30rem;
  margin: 1rem 0;
}

.register form input {
  width: 100%;
  margin: 0.5rem 0 0.2rem 0;
}

.login button, .register button {
  margin-top: 1rem;
  width: 100%;
  height: 3.5rem;
  font-size: 1.8rem;
  color: #fffde9;
  border-radius: 5px 0 5px 0;
  border: 1px solid #0072dc;
}

.login button:hover, .register button:hover {
  box-shadow: 0 0 40px #82b2ff1b, 0 0 20px #5294ff70,
  0 0 15px #52daffa2, 0 0 5px #ffffff;
  color: white;
}

.login a, .register a {
  text-decoration: none;
  color: #0072dc;
}

.login a:hover, .register a:hover {
  text-decoration: underline;
}

.add-ons {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register ul {
  list-style: none;
}

.register label{
  display: block;
  margin: 1rem 0 0.6rem 0;
}

.register small{
  color: gold;
}

.add-ons small{
  color: #fffde9;
}