.container {
  height: 100%;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-bottom: 2vh;
  display: flex;
  flex-wrap: wrap;
}

.user-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 8rem;
  font-size: 3rem;
}

.user-info a {
  text-decoration: none;
  color: #0072dc;
}

.user-info a:hover {
  text-decoration: underline;
}

.filter-form {
  display: flex;
  justify-content: start;
}

.movies-form, .ratings-form {
  width: 20rem;
}

.form-container {
  width: 95%;
  border-radius: 5px 0;
  border: 2px solid #0072dc;
  flex: 0 1 auto;
  display: flex;
  align-items: space-evenly;
  flex-direction: column;
  justify-content: space-around;
}

.movies-form-container {
  height: 320px;
  padding: 1rem;
}

.ratings-form-container {
  height: 520px;
  padding: 0.7rem;
}

.form-container .text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.form-container .text h1 {
  font-weight: 200;
  font-size: 1.6rem;
  text-align: center;
}


.decades-container {
  flex: 4;
  display: flex;
  justify-content: center;
}

/*.decades-container label::before {*/
.form-container label::before {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  font-size: 1.1rem;
}

/*.decades-container label {*/
.form-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

/*.decades-container input[type="checkbox"] {*/
.form-container input[type="checkbox"] {
  opacity: 0;
}

/*.decades-container form {*/
.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /*justify-content: space-evenly;*/
  justify-content: center;
}

/*.decades-container label {*/
.form-container label {
  background: none;
  border-radius: 5px 0;
  cursor: pointer;
  border: 0.1rem solid #0072dc;
  color: #0072dc;
}

/*.decades-container label:hover {*/
.form-container label:hover {
  /* color: #fffde9; */
  color: #e9dd9a;
  border: 0.05rem solid #e9dd9a;
}

/*.decades-container label:focus {*/
.form-container label:focus {
  box-shadow: 0 0 0 0.2rem gold;
}

/*.decades-container input[type="checkbox"] {*/
.form-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.decades-movies {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  flex: 4;
}

.tick::before {
  content: "\f00c \00a0";
}

.plus::before {
  content: "\f067 \00a0";
}

.controls {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.filter-decades {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.filter-ratings {
  flex: 2;
  display: flex;
  flex-direction: column;
}


.filter-date {
  display: flex;
  flex-direction: column;
  flex: 3;
}

form h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/*form .filter-by {*/
/*  flex: 3;*/
/*}*/

.filter-by {
  display: grid;
  column-gap: 0.4rem;
  row-gap: 0.4rem;
  width: 100%;
}


.decades-ratings {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  flex: 3;
}

.ratings-ratings {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex: 2;
}

.date-ratings {
  flex: 2;
}


.controls-ratings {
  flex: 1;
}

.controls-movies {
  flex: 1;
}

.controls a, .controls .btn {
  /*change on breakpoint*/
  height: 60%;
}

/*.controls a {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  text-decoration: none;*/
/*  font-size: 1.3rem;*/
/*  text-align: center;*/
/*}*/

.users-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.users {
  width: 90%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 3rem 4rem;
}

.users a {
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
}

.mockup-pagination {
  margin-top: 5rem;
  flex: 0;
}

.form-control {
  height: 3.5rem;
  border-radius: 5px 0;
  padding: 1rem;
  font-size: 1.45rem;
}

.search-users {
  margin-bottom: 3rem;
  display: flex;
}

.search-users a {
  text-decoration: none;
  text-align: center;
}

.search-buttons {
  width: 80%;
  display: grid;
  justify-content: center;
  margin: auto;
  margin-top: 1.2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2rem 2rem;
}

.search-by-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  border-radius: 5px 0;
  border: 2px solid #0072dc;
  padding: 2rem 0;
}

.alert {
  width: 100%;
  font-size: 1.8rem;
  border-radius: 7px 0;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  text-align: center;
  line-height: 3.6rem
}

.alert a {
  text-decoration: none;
  color: #0072dc;
}

.alert a:hover {
  text-decoration: underline;
}

.alert-red {
  background: rgba(255, 0, 0, 0.2);
  border: 2px solid red;
}

.alert-blue {
  background: rgba(0, 42, 255, 0.2);
  border: 2px solid #0072dc;
}

.alert-green {
  background: rgba(20, 190, 0, 0.2);
  border: 2px solid #00b703;
}

.login-container, .register-container, .password-reset-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.login, .register, .password-reset {
  font-size: 1.8rem;
}

.login form, .register form, .password-reset form {
  border-radius: 7px 0;
  border: 1px solid #0072dc;
  padding: 1.5rem;
  background: #020424;
  box-shadow: 0 0 40px #82b2ff7b, 0 0 25px #5294ff80,
  0 0 15px #52daffa2, 0 0 5px #ffffff;
  margin-bottom: 3rem;
}

.login form legend, .register form legend, .password-reset legend {
  text-align: center;
  margin-bottom: 1rem;
}

.login form input {
  width: 30rem;
  margin: 1rem 0;
}

.register form input {
  width: 100%;
  margin: 0.5rem 0 0.2rem 0;
}

.password-reset form input {
  width: 30rem;
}

.login button, .register button, .password-reset button {
  margin-top: 1rem;
  width: 100%;
  height: 3.5rem;
  color: #fffde9;
  border-radius: 5px 0;
  border: 1px solid #0072dc;
}

.login button, .register button {
  font-size: 1.8rem;
}

.password-reset button {
  font-size: 1.6rem;
}

.password-reset li {
  list-style: none;
  color: rgba(255, 223, 62, 0.95);
  font-size: 1.3rem;
}

.password-reset ul {
  margin: 0.7rem 0;
}


.login button:hover, .register button:hover, .password-reset button:hover {
  box-shadow: 0 0 40px #82b2ff1b, 0 0 20px #5294ff70,
  0 0 15px #52daffa2, 0 0 5px #ffffff;
  color: white;
}

.login a, .register a {
  text-decoration: none;
  color: #0072dc;
}

.login a:hover, .register a:hover {
  text-decoration: underline;
}

.add-ons {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register ul {
  list-style: none;
}

.register label {
  display: block;
  margin: 1rem 0 0.6rem 0;
}

.register small {
  color: rgba(255, 223, 62, 0.95);
}

.add-ons small {
  color: #fffde9;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-size: 2rem;
}

.card {
  border-radius: 7px 0;
  border: 1px solid #0072dc;
  padding: 1.5rem;
  background: #020424;
  box-shadow: 0 0 40px #82b2ff4b, 0 0 20px #5294ff80,
  0 0 15px #52daff92, 0 0 5px #ffffff;
  margin: 1.2rem;
  width: 50%;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.raw-data {
  font-size: 1.6rem;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 2rem;
}

.title {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  font-family: 'Bangers';
  font-size: 6rem;
}

.poster {
  flex: 2 0 content;
  display: flex;
  justify-content: flex-start;
  height: 320px;
}

.poster div {
  display: flex;
  align-items: center;
}


.movie-info {
  flex: 6 1 380px;
}

.movie-info div {
  display: flex;
  align-items: center;
}

.rating {
  flex: 6 0 380px;
}

.rating > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  flex: 1;
}

.stars {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.rating form {
  display: flex;
  flex-direction: column;
  /*height: 40%;*/
  flex: 2;
  justify-content: space-evenly;
}

.rate-movie {
  flex: 1;
}

.rate-buttons {
  flex: 3;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.rate-buttons button, .rate-buttons a {
  font-size: 1.7rem;
  padding: 0.4rem 0;

}

.overview {
  flex: 1 0 400px;
}

.cast {
  flex: 1 0 400px;
}

.movie-container > div {
  /*margin: 1rem;*/
  /*border: 0.2rem solid blue;*/
  padding: 0.8rem;
}

.movie-container > div:not(.title) > div {
  border-radius: 5px 0;
  border: 2px solid #0072dc;
  box-shadow: 0 0 15px #5294ff60,
  0 0 8px #52daff42, 0 0 3px #ffffff50;
  padding: 1rem;
  height: 100%;
}

.fa-star {
  font-size: 2.5rem;
}

.star-active {
  color: #ffe100;
  text-shadow: 0 0 20px #ffef6d, 0 0 8px #ffe225;
}

.star-dark {
  color: black;
  text-shadow: 0 0 20px #ffffff80, 0 0 8px #ffffffb0;
}

.star-active:hover {
  color: #ffe100;
  text-shadow: 0 0 25px #ffefbd, 0 0 10px #ffe285;
}

.movie-detail {
  font-size: 2rem;
  height: 100%;
}

.cast-detail {
  font-size: 2rem;
}

.movie-detail td {
  padding: 1rem 4rem 1rem 0;
}

.cast-detail td {
  padding: 1rem 2rem 1rem 0;
}

.col-name, .actor-name {
  font-weight: bold;
}

.stats-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 2rem;
}

.stats-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.stats-text h1 {
  font-size: 4rem;
}

.stats-text p {
  font-size: 2.5rem;
}

.stats-plots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.stats-plots > div {
  border: 2px dotted red;
  z-index: -1;
}


@media screen and (max-width: 800px) {
  .movie-container, .movie-detail, .cast-detail {
    font-size: 1.6rem;
  }

  .title {
    font-size: 3rem;
  }

  .poster {
    margin: auto;
  }

  .movie-info {
    flex: 1 0 100%;
  }

  .movie-info div {
    display: flex;
    align-items: center;
  }

  .rating {
    flex: 1 0 100%;
  }

  .overview {
    flex: 1 0 100%;
  }

  .cast {
    flex: 1 0 100%;
  }

  .poster div, .overview div, .cast div {
    border: none !important;
    box-shadow: none !important;
  }
}


/*CODEPEN*/

.slider {
  width: 800px;
  text-align: center;
  /*overflow: hidden;*/
  position: relative;
  margin-top: 2rem;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /*scroll-snap-points-x: repeat(300px);*/
  /*scroll-snap-type: mandatory;*/

}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 800px;
  height: 500px;
  margin-right: 50px;
  border-radius: 10px 0;
  border: 3px solid #0072dc;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slides > div:target {
  /*transform: scale(0.8);*/
}

.slides img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px 0;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  padding: 1.5rem;
}

.slider > a:active {
  top: 1px;
}

.slider > a:focus {
  background: #000;
}


.previous-btn,
.next-btn {
  position: absolute;
  top: 0;
  z-index: 1;
  /*margin-top: 37.5%;*/
  width: 8rem;
  height: 8rem;
  transform: translateY(300%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: 0;
  content: '';
  opacity: 40%;
  background-color: rgb(0, 48, 119);
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 5.5rem;
  line-height: 4rem;
  text-align: center;
}

.previous-btn:hover,
.next-btn:hover {
  opacity: 90%;
}

.previous-btn {
  left: -6%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.next-btn {
  right: -6%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}


.recommedations-container {
  font-size: 1.6rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.recommedations-container li {
  list-style: none;
  text-decoration: none;
}

.recommedations-container li a {
  color: gold;
  text-decoration: none;
}

.recommedations-container li a:hover {
  color: gold;
  text-decoration: underline;
}

.preferences-container {
  font-size: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.rate-new-movies {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rate-new-movies button {
  margin: 0.5rem 0;
  width: 12rem;
}

#movie-poster {
  display: flex;
  justify-content: center;
}

#overview {
  font-size: 2rem;
}

#establish {
  display: flex;
  flex-direction: column;
}

#movie-title {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

#establish input {
  margin: 1.2rem 0;
  width: 50%;
}

#establish div > div {
  display: flex;
  justify-content: center;
}

#info-text {
  margin-top: 2rem;
}

.rate-new-movies > h2 > a {
  text-decoration: none;
  color: gold;
}

.rate-new-movies > h2 > a:hover {
  text-decoration: underline;
}
