body {
  background: #090c1a;
  color: #fffbd1;
  margin-top: 5rem;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-item {
  color: #cbd5db;
}



.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 1000;
}

/*.bold-row{
    font-weight:bold;
}*/

.bold-col{
    font-weight:bold;
}

.table{
      color: #fffbd1;
}

.center-column {
   text-align: center;
}

.table .table-row:hover{
    color: #fffbd1;
    text-shadow:0px 0px 7px #52d9ff, 0px 0px 1px #a3fff6;

}
.row-glow:hover{
    color: #ffffff;
    text-shadow:0px 0px 15px #52d9ff, 0px 0px 5px #ffffff;
}

.fa-star{
    color: #ffe100;
    /*TODO: change color*/
    /*color: #cccccc;*/
    text-shadow:0px 0px 25px #ffefbd, 0px 0px 10px #ffe285;
}

.star-glow:hover{
    color: #ffe100;
        text-shadow:0px 0px 25px #ffefbd, 0px 0px 10px #ffe285;
}

.link-glow:hover{
    color:#007bff;
    /*color:red;*/
    text-shadow:0px 0px 1px #6bb3ff;
    font-weight:bold;
}

.checked{
    color:red;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: silver;
  opacity: 1; /* Firefox */
}

.form-control { /* Chrome, Firefox, Opera, Safari 10.1+ */
  overflow-x: scroll;
}

.search-button{
  margin-top: 5px;
  margin-bottom: 5px;
  }

.filter-button{
  margin-top: 5px;
  }

.decades{
  margin-top: 0px !important
}


.ratings{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

