@media screen and (max-width: 1024px) {
  .filter-form {
    width: 100%;
  }

  .form-container {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    margin-bottom: 0.5rem;
  }

  .decades-container form {
    flex-direction: row;
  }

  .decades {
    flex: 3;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .controls {
    grid-template-columns: auto;
    grid-template-rows: 40% 40%;
    row-gap: 0.5rem;
    justify-content: center;
    align-content: center;
  }

  .controls a, .controls .btn {
    /*change on breakpoint*/
    height: 100%;
  }
}